{% extends 'base.html.twig' %}

{% block title %}Travel index{% endblock %}

{% block body %}
    <h1>Travel index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Destination</th>
                <th>Catégorie</th>
                <th>Tags</th>
                <th>Accroche</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for travel in travel %}
            <tr>
                <td><img src="{{ asset('images/')}}{{ travel.image1 }} " alt=""></td>
                <td>{{ travel.name }}</td>
                <td>{{ travel.category.name }}</td>
                {% for tag in travel.tag %}
                    <td>{{ tag.name }}</td>
                {% endfor %}
                <td>{{ travel.hook }}</td>
                <td>{{ travel.price }}</td>
                <td>
                    <a href="{{ path('travel_show', {'id': travel.id}) }}">show</a>
                    <a href="{{ path('travel_edit', {'id': travel.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('travel_new') }}">Create new</a>
{% endblock %}
